---
layout: default
active: home
---


<!-- ///////// -->
<!-- Jumbotron -->
<!-- ///////// -->

<div class="jumbotron">
  <div class="container">

    <h1>CSC {{ site.data.course.number }}: {{ site.data.course.title }}</h1>

    <p>
      This is the course webpage for <strong>CSC {{ site.data.course.number }}: {{ site.data.course.title }}</strong> taught by Ian Dunn.
    </p>

    <p>
      We meet from
        <strong><span class="text-primary">{{ site.data.course.meetings.lecture.when }}</span></strong>
{% if site.data.course.meetings.lecture.in %}
        in <strong><span class="text-secondary">{{ site.data.course.meetings.lecture.in }}</span></strong>
{% endif %}

        and from
        <strong><span class="text-primary">{{ site.data.course.meetings.lab.when }}</span></strong>
        in <strong><span class="text-secondary">{{ site.data.course.meetings.lab.in }}</span></strong>

        on <strong>MWF</strong>.
    </p>

  </div>
</div>

<div class="container" id="content">


<!-- /////////// -->
<!-- Quick Links -->
<!-- /////////// -->

<div class="card quick-links-card border-success">
  <div class="card-header text-white bg-success">
    Quick Links
  </div>
  <div class="card-body">
    <ul>
      <li><a href="#course_info">Course Info</a></li>
{% for week in site.data.weeks %}
      <li><a href="#week_{{ week.number }}">{{ week.name }}</a></li>
{% endfor %}
    </ul>
  </div>
</div>


<!-- /////////// -->
<!-- Course Info -->
<!-- /////////// -->

<a name="course_info"></a>

<div class="card border-info">
  <div class="card-header text-white bg-info">
    Course Info
  </div>
  <div class="card-body">

{% include course_info.html %}

  </div>
</div>



<!-- //////// -->
<!-- Schedule -->
<!-- //////// -->

{% for week in site.data.weeks %}

<a name="week_{{ week.number }}"></a>
<h2 class="week-label">{{ week.name }}</h2>

  {% capture week_class %}{% cycle 'primary', 'secondary' %}{% endcapture %}

<div class="row">

  {% for day in week.days %}

  <div class="col-lg-4">

    <div class="card day-card border-{{ week_class }}">
      <div class="card-header text-white bg-{{ week_class }}">
        {{ day.name }}
      </div>
      <div class="card-body">

    {% if day.override %}
        <p>{{ day.override }}</p>
    {% else %}

        <!-- Columns -->
    {% for column in site.data.course.schedule_columns %}
        <h4>{{ column.title }}</h4>
        <ul>

      {% for item in day[column.name] %}
        {% if item.link %}
          <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.text }}</a>{% if item.due %} due {{ item.due }}{% endif %}</li>
        {% elsif item.outbound %}
          <li><a href="{{ item.outbound }}">{{ item.text }}</a>{% if item.due %} due {{ item.due }}{% endif %}</li>
        {% elsif item.text %}
          <li>{{ item.text }}{% if item.due %} due {{ item.due }}{% endif %}</li>
        {% else %}
          <li>{{ item }}</li>
        {% endif %}
      {% endfor %}  {% comment %} items {% endcomment %}

        </ul>
    {% endfor %} {% comment %} columns {% endcomment %}

        <!-- Assignments -->
        <h4>Assignments</h4>
        <ul>
    {% assign anything = false %}
    {% for pair in site.data.assignments %}
      {% assign name = pair[0] %}
      {% assign assignment = pair[1] %}

      {% if day.name == assignment.due %}
        {% assign anything = true %}
          <li><a href="{{ site.baseurl }}/project/{{ name }}">{{ assignment.title }}</a> is due <span class="text-danger">today!</span></li>
      {% endif %}
      {% if day.weekend == assignment.due %}
        {% assign anything = true %}
          <li><a href="{{ site.baseurl }}/project/{{ name }}">{{ assignment.title }}</a> is due soon, on <span class="text-danger">{{ assignment.due }}!</span></li>
      {% endif %}
    {% endfor %}
    {% for pair in site.data.assignments %}
      {% assign name = pair[0] %}
      {% assign assignment = pair[1] %}

      {% if day.name == assignment.assigned %}
        {% assign anything = true %}
          <li><a href="{{ site.baseurl }}/project/{{ name }}">{{ assignment.title }}</a> due {{ assignment.due }}</li>
      {% endif %}
    {% endfor %}

    {% for date in site.data.dates %}
      {% if day.name == date.when %}
        {% assign anything = true %}
          <li>{{ date.what }}</li>
      {% endif %}
    {% endfor %}

    {% if anything == false %}
          <li><span>Nothing new assigned or due.</span></li>
    {% endif %}
        </ul>

  {% endif %} {% comment %} override {% endcomment %}

      </div> <!-- .card-body -->
    </div> <!-- .card -->
  </div> <!-- .col-lg-3 -->

  {% endfor %} {% comment %} days {% endcomment %}

</div> <!-- .row -->

{% endfor %} {% comment %} weeks {% endcomment %}
