

<a name="course_info"></a>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Course Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h3 class="no-top-margin">Course Schedule</h3>
        <p>
          The course schedule is below.
        </p>

        <h3>Textbook</h3>
        <p>
          The recommended, but optional, textbook for this course is Physically Based Rendering.
        </p>

        <h3>Project</h3>
        <ol>
          <li>
            <a href="{{ "/project/part1/" | prepend: site.baseurl }}">Part 1</a> due Monday 1/30.
          </li>
        </ol>

      </div>
    </div>
  </div>
</div>
