

<a name="course_info"></a>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Course Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h3 class="no-top-margin">Course Schedule</h3>
        <p>
          The course schedule is below.
        </p>

        <h3>Textbook</h3>
        <p>
          The recommended, but optional, textbook for this course is <a href="http://www.pbrt.org/">Physically Based Rendering</a>.
        </p>

        <h3>Project</h3>
        <h4>Overview</h4>
        <p>
          Throughout this quarter you will implement the basic functions of a distributed ray tracer.
          This software will be enhanced throughout the quarter, thus this initial assignment will serve as the base for following assignments.
          Since you will be adding and reusing your code, it is advised that you write your code in a clean, structured object-oriented fashion.
          All code must be written in C++.
        </p>
        <h4>Milestones</h4>
        <ol>
          <li><a href="{{ "/project/part1/" | prepend: site.baseurl }}">Program 1 - File Parsing and Ray Cast</a> due 4/14.</li>
          <li><a href="{{ "/project/part2/" | prepend: site.baseurl }}">Program 2 - Shading, Shadows, and Camera</a> due 4/28.</li>
          <li><a href="{{ "/project/part3/" | prepend: site.baseurl }}">Program 3 - Reflection, Refraction, and Triangles</a> due 5/12.</li>
          <li><a href="{{ "/project/part4/" | prepend: site.baseurl }}">Program 4 - Transforms and Anti-aliasing</a> due 5/19.</li>
          <li><a href="{{ "/project/part5/" | prepend: site.baseurl }}">Program 5 - Spatial Data Structures</a> due 5/26.</li>
          <li><a href="{{ "/project/part6/" | prepend: site.baseurl }}">Program 6 - Monte Carlo Ray Tracing</a> due 6/9.</li>
        </ol>

      </div>
    </div>
  </div>
</div>
